.dropdown {
  position: relative;
}

.drop-nav {
  position: absolute;
  display: none;
}
.dropdown li {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.dropdown:hover > .drop-nav {
  display: block;
}
a:hover {
 color: blue;
}
